<div class="row row-cols-1 row-cols-md-3 g-4 m-5 animated fadeIn">
    <div (click)="verArtista(item)" *ngFor="let item of items" class="col puntero">
      <div class="card h-100">
        <img [src]="item.images | noimage" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p *ngFor="let artista of item.artists" class="card-text"><span class="badge rounded-pill bg-dark">{{artista.name}}</span></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{item.release_date}}</small>
        </div>
      </div>
    </div>
</div>